/images/uploads/users/*.jpg
/images/uploads/users/*.png
/images/uploads/users/*.gif
/config/cred.php
/xampp                          # ignore xampp folder and files
/._xampp                        # ignore xamp file