/* #lobby-container {
    width: 100%;
    max-width: 1000px;
    min-height: 200px;
    margin: 15px auto 0 auto;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    background-color: #ffffff75;
} */

#title {
    text-align: center;
}

#lobby-container {
    width: 100%;
}

#lobbies-list-ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 10px;
}


#lobbies-list-ul li {
    background-color: white;
}

#lobbies-list-ul li a {
    text-decoration: none;
    color: black;
}

#player-blocks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.player-block {
    width: 200px;
    text-align: center;
}

.player-block img {
    width: 100%;
}

#lobbies-list-ul li:not(:last-child) {
    margin-bottom: 10px;
}

#game-duration, #game-id {
    text-align: center;
}